<!DOCTYPE html>
<html lang="en">

<partial name="_Head"/>

<body>

<partial name="_Header"/>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<partial name="_Footer"/>

<partial name="_Scripts"/>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>